@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-background: #333;
  --color-dark: #0500f5;
  --color-light: #76f3fd;
  --color-highlight: honeydew;
  --color-list-header: #ecb390;
  --max-content-width: 800px;
  --min-content-width: 375px;
  --color-hotpink: #ff69b4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px hotpink solid; */
  font-family: 'Roboto', sans-serif;
}

#root {
}

main {
  height: 100vh;
  /* Padding top and bottom due to Header and Footer using fixed positions */
  padding: 3.75rem 0.25rem 1.5rem 0.25rem;
  background: var(--color-light);
  position: relative;
}

/* Shadown of the login form */
.shadow-custom {
  box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.4);
}

.message-container {
  display: flex;
  flex-direction: column; /* Aligns message bubbles in a vertical column */
  /* justify-content: flex-end; Aligns content to the right */
  /* Other styling for positioning and appearance */
}

/* Styles for the message bubble container */
.message-bubble-received {
  padding: 8px 12px; /* Padding around the message content */
  margin: 4px; /* Margin between message bubbles */
  border-radius: 8px; /* Rounded corners for the bubble */
  background-color: #fff0f0; /* Background color for the bubble */
  /* word-wrap: break-all; Enable word wrap for long messages */
  max-width: 80%; /* Maximum width of the message bubble */
  min-width: 100px; /* Minimum width of the message bubble for short messages */
  align-self: flex-start;
  /* Other styles for positioning and appearance */
}

.message-bubble-send {
  padding: 8px 12px; /* Padding around the message content */
  margin: 4px; /* Margin between message bubbles */
  border-radius: 8px; /* Rounded corners for the bubble */
  background-color: #dcf8c6; /* Background color for the bubble */
  /* word-wrap: break-all; Enable word wrap for long messages */
  max-width: 80%; /* Maximum width of the message bubble */
  min-width: 50px; /* Minimum width of the message bubble for short messages */
  align-self: flex-end; /* Aligns the bubble to the right within the container */
  /* Other styles for positioning and appearance */
}

/* Styles for the message content */
.message-content {
  margin: 0; /* Reset margin */
  font-size: 14px; /* Font size for the message */
  word-wrap: break-word; /* Other styles for text appearance */
}

.message-name {
  margin: 0 1rem 0 0;
  font-size: 14px;
  font-weight: bold;
}

.message-date {
  margin: 0;
  font-size: 10px;
  font-weight: light;
}

.userform {
  max-width: 500px;
  height: fit-content;
}